.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #2a363b;
}

.link.active {
  color: #e84a5f;
}
.navHeader {
  display: flex;
  width: 100%;
  height: 72px;
  padding: 28px 64px;
  align-items: center;
  gap: 450px;
}
