.camperCard {
  display: flex;
  border: 1px solid var(--gray_light);
  border-radius: 20px;
  overflow: hidden;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  text-align: center;
  background: #fff;
  padding: 24px;
  width: 888ps;
  height: 368px;
  flex: 1;
}

.image {
  width: 292px;
  height: 320px;
  object-fit: cover;
  border-radius: 10px;
}

.name {
  font-size: 24px;
  font-weight: semi-bold;
  line-height: 32px;
  color: var(--main);
}

.location {
  color: #555;
  margin: 5px 0;
}

.price {
  font-size: 24px;
  font-weight: semi-bold;
  line-height: 32px;
  color: var(--main);
}

.moreBtn {
  background: #e63946;
  color: #fff;
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  font-size: 1rem;
}

.moreBtn:hover {
  background: #c82333;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-left: 24px;
}
.mainInfo {
  display: flex;
  width: 524px;
}
.favoriteBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}
