.camperCard {
  display: flex;
  border: 1px solid var(--gray_light);
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  background: #fff;
  padding: 24px;
  width: 888px;
  height: 368px;
  flex: 1;
}

.image {
  width: 292px;
  height: 320px;
  object-fit: cover;
  border-radius: 10px;
}

.name {
  font-size: 24px;
  font-weight: semi-bold;
  line-height: 32px;
  color: var(--main);
  max-width: 345px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.location {
  color: #555;
  margin: 5px 0;
}

.price {
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  color: var(--main);
  margin-right: 12px;
  margin-left: auto;
}
.more {
  display: flex;
  justify-content: flex-start;
}
.moreBtn {
  background: var(--button);
  color: #fff;
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 28px;
  width: 166px;
  height: 56px;
  margin-bottom: auto;
  margin-right: auto;
}

.moreBtn:hover,
.moreBtn:focus {
  background: var(--button_hover);
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  height: 100%;
  margin-left: 24px;
}
.mainInfo {
  display: flex;
  justify-content: space-between;
  width: 524px;
  margin-bottom: 8px;
}
.favoriteBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 3px;
}

.inline {
  display: flex;
  align-items: center;
  gap: 3 px;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
}
.inline2 {
  display: flex;
  align-items: center;
  gap: 3 px;
  font-size: 16px;
  line-height: 24px;
}
.inline img {
  display: inline-block;
  height: 1rem;
  width: auto;
}
.revLocation {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}
.img {
  margin-right: 4px;
}
.textOneLine {
  width: 524px;
  color: var(--text);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.features {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.featureItem {
  display: flex;
  align-items: center;
  gap: 8px;
}
