.filterForm {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.filterForm button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.filterGroup button.active {
  border: 2px solid var(--button_hover);
}
.filterGroup {
  display: flex;
  flex-wrap: wrap;
  column-gap: 12px;
  row-gap: 8px;
}

.filterGroup h3 {
  display: block;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: var(--main);
}

.filterGroup label {
  display: block;
  color: var(--text);
}

.filterGroup input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
}

.filterGroup button {
  display: flex;
  padding: 8px 12px;
  width: 112px;
  height: 96px;
  border-radius: 12px;
  border: 2px solid var(--gray2);
  background: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  align-items: center;
  justify-content: center;
  stroke: var(--main);
}

.filterGroup button:hover {
  border: 1px solid var(--button_hover);
}

button.searchButton {
  width: 166px;
  height: 56px;
  padding: 10px;
  background-color: var(--button);
  color: #fff;
  border: none;
  border-radius: 28px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.searchButton:hover,
.searchButton:focus {
  background-color: var(--button_hover);
}

.separator {
  margin: 24px 0;
  width: 360px;
  height: 1px;
  border: none;
  background-color: var(--gray2);
}
.filterTitle {
  font-weight: 500;
  color: var(--text);
  margin-bottom: 12px;
}
.inputWrapper {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 16px 20px;
  border-radius: 12px;
  background-color: var(--gray_ultralight);
}

.icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.input {
  border: none;
  outline: none;
  width: 100%;
  color: var(--main);
  background-color: transparent;
}
