.filterForm {
  display: flex;
  flex-direction: column;
  gap: 20px;

  /* max-width: 360px; */
}
.filterForm button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  opacity: 0.6;
}

.filterForm button.active {
  opacity: 1;
  border: 2px solid var(--button_hover);
}
.filterGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.filterGroup h3 {
  display: block;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: var(--main);
}

.filterGroup label {
  display: block;
  font-weight: 400;
  color: var(--text);
  font-size: 16px;
  line-height: 24px;
}

.filterGroup input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.filterGroup button {
  display: flex;
  padding: 8px 12px;
  width: 112px;
  height: 96px;
  border-radius: 12px;
  border: 2px solid var(--gray_light);
  background: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  align-items: center;
  justify-content: center;
  stroke: var(--main);
}

.filterGroup button:hover {
  border-color: var(--button_hover);
}

button.searchButton {
  width: 166px;
  height: 56px;
  padding: 10px;
  background-color: var(--button);
  color: #fff;
  border: none;
  border-radius: 28px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.searchButton:hover,
.searchButton:focus {
  background-color: var(--button_hover);
}

.separator {
  margin: 12px 0;
  width: 360px;
  height: 1px;
  border: none;
  background-color: var(--gray_light);
}
.filterTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--text);
  margin-bottom: 12px;
}
