.camperPage {
  display: flex;
  flex-direction: column;
  padding-left: calc((100% - 1440px) / 2 + 64px);
  padding-right: calc((100% - 1440px) / 2 + 64px);
}
.camperInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 48px;
  margin-bottom: 28px;
}
.filled {
  color: gold;
}

.empty {
  color: lightgray;
  fill: lightgray;
}
.inline {
  display: flex;
  align-items: center;
  gap: 3 px;
  text-decoration-line: underline;
}
.inline2 {
  display: flex;
  align-items: center;
  gap: 3 px;
}
.revLocation {
  display: flex;
  gap: 16px;
  margin-bottom: 8px;
  color: var(--main);
}
.price {
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  color: var(--main);
}
.name {
  font-size: 24px;
  font-weight: semi-bold;
  line-height: 32px;
  color: var(--main);
}
.img {
  margin-right: 4px;
}
.gallery {
  display: flex;
  gap: 48px;
  margin-bottom: 28px;
}
.imageGallery {
  max-width: 292px;
  height: 312px;
  object-fit: cover;
  border-radius: 10px;
}
.description {
  margin-bottom: 60px;
  color: var(--text);
}
.subMenu {
  display: flex;
  gap: 40px;
  margin-bottom: 24px;
}
.subMenu a {
  display: inline-block;
  color: var(--main);
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  position: relative;
}
.subMenu a.activeLink::after {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--button);
  position: absolute;
  bottom: -35px;
  left: 0;
}
.line {
  width: 100%;
  height: 1px;
  border: none;
  background-color: var(--gray2);
  margin-bottom: 44px;
}
.content {
  display: flex;
  gap: 40px;
}
.dynamicContent {
  width: 631px;
  border-radius: 10px;
}
.bookingForm {
  width: 641px;
  border-radius: 10px;
}
