.container {
  /* height: calc(100vh - 72px); */
  display: flex;
  /* align-items: center;
  justify-content: center; */
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('../../img/backgr.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: calc(100vh - 72px);
  overflow: hidden;
}
.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 32px;
  color: white;
  margin-bottom: 16px;
}
.text {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: white;
  margin-bottom: 40px;
}
.info {
  text-align: start;
  justify-content: flex-start;
  width: 575px;
  height: 176px;
  margin-left: calc((100vw - 1440px) / 2 + 64px);
  margin-top: calc((100vh - 72px - 176px) / 2);
  @media screen and (max-width: 1440px) {
    margin-left: 64px;
  }
}
.buttonView {
  width: 173px;
  height: 56px;
  background-color: var(--button);
  color: white;
  border-radius: 28px;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
